AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=my-secret-aki
AWS_SECRET_ACCESS_KEY=my-secret-sak
AWS_SESSION_TOKEN=my-long-session-token-NEEDED-WHEN-USING-sts-assume-role
LOG_LINE=abc my-placeholder def
PATTERN=my-placeholder
STARTING_MINUTES_AGO=15
MIN_VALUE=10
MAX_VALUE=20
NUMBER_OF_LOG_EVENTS=40
LOG_GROUP_NAME=my-cloudwatch-logs-log-group

